<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <div formArrayName="tasks">
    <div *ngFor="let task of tasksControls; let i=index">
      <div [formGroupName]="i">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <table class="full-width">
                <tr>
                  <td>
                    <b>{{ task.get('id').value }}:</b> {{ task.get('name').value }}
                  </td>
                  <td width="30">
                    <button type="button" mat-icon-button (click)="addWorkLog(task)">
                      <mat-icon class="md-24">add</mat-icon>
                    </button>
                  </td>
                  <td width="60" *ngIf="tasksControls.length > 1">
                    <button type="button" mat-button color="warn" (click)="removeTask(i)">
                      Remove
                    </button>
                  </td>
                </tr>
              </table>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-task [taskGroup]="task"></app-task>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="add-task text-center">
    <mat-form-field style="width: 400px">
      <input matInput #findIssueInput placeholder="Task from Jira" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.key">
          <span>{{ state.key }}</span> |
          <small>{{ state.title }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button type="button" mat-raised-button color="primary" (click)="addClientTask(findIssueInput.value)" [disabled]="stateCtrl.invalid">
      Add task
    </button>
  </div>

  <div class="add-task text-center" [formGroup]="staticTaskForm">
    <mat-form-field style="width: 100px; display: inline-block;">
      <input matInput placeholder="ID" formControlName="key">
    </mat-form-field>

    <mat-form-field style="width: 300px; display: inline-block;">
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <button type="button" mat-raised-button color="primary" (click)="addClientTask()" [disabled]="staticTaskForm.invalid">
      Add task
    </button>
  </div>

  <mat-card *ngIf="showMessageInput">
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Message" formControlName="message" rows="4"></textarea>
    </mat-form-field>
  </mat-card>

  <div id="bottom-menu" class="text-center">
    <table width="100%">
      <tr>
        <td width="120">
          <mat-slide-toggle color="accent" [checked]="showMessageInput" (change)="toggleMessageInput()">
            Message
          </mat-slide-toggle>
        </td>
        <td class="text-center">
          <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || tasksControls.length === 0">
            Submit
          </button>
        </td>
        <td width="120" class="text-right">
          Spent: <b><span>{{ totalTime }}</span></b>h
        </td>
      </tr>
    </table>
  </div>
</form>

<div id="overlay" *ngIf="sending">
  <mat-spinner></mat-spinner>
</div>
