<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <div formArrayName="tasks">
    <div *ngFor="let task of tasksControls; let i=index">
      <div [formGroupName]="i">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <table class="full-width">
                <tr>
                  <td>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Windmill Task ID" formControlName="id">
                    </mat-form-field>
                  </td>
                  <td width="30">
                    <button type="button" mat-icon-button (click)="addWorkLog(task)">
                      <mat-icon class="md-24">add</mat-icon>
                    </button>
                  </td>
                  <td width="60" *ngIf="tasksControls.length > 1">
                    <button type="button" mat-button color="warn" (click)="removeTask(i)">
                      Remove
                    </button>
                  </td>
                </tr>
              </table>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-task [taskGroup]="task"></app-task>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <mat-card *ngIf="showMessageInput">
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Message" formControlName="message" rows="4"></textarea>
    </mat-form-field>
  </mat-card>

  <div class="done">
    <button type="button"  mat-fab color="primary" (click)="addClientTask()">
      <mat-icon class="md-24">add</mat-icon>
    </button>
  </div>

  <div id="bottom-menu" class="text-center">
    <table width="100%">
      <tr>
        <td width="120">
          <mat-slide-toggle color="accent" [checked]="showMessageInput" (change)="toggleMessageInput()">
            Message
          </mat-slide-toggle>
        </td>
        <td class="text-center">
          <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
            Submit
          </button>
        </td>
        <td width="120" class="text-right">
          Spent: <b><span>{{ totalTime }}</span></b>h
        </td>
      </tr>
    </table>
  </div>
</form>

<div id="overlay" *ngIf="sending">
  <mat-spinner></mat-spinner>
</div>
